
.doctor-list {
    /* border: 1px solid black; */
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.search-box {
    text-align: center;
}

button {
    margin-left: 5px;
    background-color: rgb(109, 109, 109);
    color: white;
    border-radius: 90px;
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

button:focus {
    background-color:red;
}


#search-button {
    height: 25px;
    width: 90px;
    text-align: center;
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

input {
    border-radius: 70px;
    border: none;
    height: 35px;
    width: 25%;
    margin: 0px auto 45px auto;
    border-bottom: 1px solid rgb(109, 109, 109);
    box-shadow: 5px 5px rgba(0,0,0,.15);
    transition: all .3s ease;
}