.doctor-card {
    display: flex;
    padding: 10px;
}

.doctor-card-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 img {
     border-radius: 90px;
     
 }


.doctor-bio-left-photo {
    height: 50%;
}

.doctor-bio-left-photo img {
    width: 50%;
}

.drug-list {
    text-indent: 20px;
}


