.navbar-container {
    display: flex;
    /* justify-content: center; */
    background-color: gray;
    color: white;
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

.hamburger {
    margin-left: 20px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    border-radius: 900px;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}

.logo {
    margin-left: 15px;
    margin-top: 10px;
    color: white;
    font-size: 24px;
    font-weight: 900;
    
}


.navbar-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 10px;
}

li {
    margin-left: 20px;
    color: white;
}

Link {
    text-decoration: none;
    color: white;
}

a:link, a:visited, a:active { 
    text-decoration: none; 
    transition: 0.1s cubic-bezier(.33,.66,.66,1);
}

a:hover {
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}


/* img {
    height: 20%;
    margin-top: 10px; 
    margin-left: 10px;
} */