.doctor-card {
    display: flex;
    padding: 10px;
}

.doctor-bio-left {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    width: 55%;
    background: white;
    box-shadow: 8px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
 }


.doctor-bio-left-photo {
    size-adjust: 100%;
    padding: 15px;
}

.doctor-name-heading {
    text-decoration: underline black;
    text-underline-position: under;
}


.doctor-bio-left-photo img {
    width: 250px;
    border-radius: 10px;
}

.drug-list {
    text-indent: 20px;
    margin-top: 5px;
}

.doctor-sched-right{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 8px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
}

.doctor-sched-times {
    margin-bottom: 5px;
}

.drug-list-title {
    margin-top: 5px;
}

