.doctor-card {
    display: flex;
    padding: 10px;
}

.doctor-bio-left {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
 }


.doctor-bio-left-photo {
    size-adjust: 100%;
    padding: 15px;
}

.doctor-bio-left-photo img {
    width: 250px;
    border-radius: 10px;
}

.drug-list {
    text-indent: 20px;
    margin-top: 5px;
}

.doctor-sched-right{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

